<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<context:component-scan base-package="com" />

	<!-- Define static resource location -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- Interceptor -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/community/**" />
			<bean class="com.forweaver.intercepter.CommunityIntercepter" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/repository/**" />
			<bean class="com.forweaver.intercepter.RepositoryIntercepter" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- Multipart post handing -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600000" />
	</bean>

	<bean id="liteDeviceDelegatingViewResolver"
		class="org.springframework.mobile.device.view.LiteDeviceDelegatingViewResolver">
		<constructor-arg>
			<bean id="viewResolver"
				class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prefix" value="/WEB-INF/views/" />
				<property name="suffix" value=".jsp" />
			</bean>
		</constructor-arg>
		<property name="enableFallback" value="true" />
	</bean>


	<bean
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">
	</bean>
</beans>