<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http pattern="/favicon.ico" security="none" />

	<!-- Stateless RESTful service using Basic authentication -->
	<security:http pattern="/g/*/*.git/**">
		<security:intercept-url pattern='/g/*/*.git/**'
			access="ROLE_ADMIN, ROLE_USER" />
		<security:http-basic />
		<security:session-management
			session-authentication-strategy-ref="sas" />
	</security:http>
	
	<!-- Empty filter chain for the login page -->
	<security:http pattern="/resources/**" security="none" />


	<!-- Additional filter chain for normal users, matching all other requests -->
	<security:http pattern="/**" auto-config='true'
		use-expressions="true">

		<security:intercept-url pattern="/login"
			access="isAnonymous()" />
		<security:intercept-url pattern="/repassword**"
			access="isAnonymous()" />
			
		<security:intercept-url pattern="/join" access="isAnonymous()" />

		<security:intercept-url pattern="/del"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/edit"
			access="isAuthenticated()" />

		<security:intercept-url pattern="/check"
			access="isAnonymous()" />
		<security:intercept-url pattern="/"
			access="isAnonymous() or isAuthenticated()" />


		<security:intercept-url pattern="/community/add"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/delete"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/*/delete"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/*/*/delete"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/update"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/push"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/*/update"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/add-repost"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/*/add-reply"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/*/edit"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/community/**"
			access="isAnonymous() or isAuthenticated()" />

		<security:intercept-url pattern="/code/add"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/code/*/delete"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/code/*/update"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/code/*/add-repost"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/code/*/edit"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/code/**"
			access="isAnonymous() or isAuthenticated()" />

		<security:intercept-url pattern="/repository/add"
			access="isAuthenticated()" />

		<security:intercept-url pattern="/repository/*/*/delete"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/*/update"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/weaver/*/add-weaver"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/weaver/*/join-ok"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/weaver/*/join-cancel"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/weaver/*/delete"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/join"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/*/*/community/add"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/repository/**"	access="isAnonymous() or isAuthenticated()" />

		<security:intercept-url pattern="/weaver/**"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/*/repository/**"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/*/code/**"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/*/sort:*/page:*"
			access="isAuthenticated()" />

		<security:form-login login-page="/login?state=not"
			default-target-url='/' authentication-failure-url="/login?state=fail" />
		<security:session-management
			session-authentication-strategy-ref="sas" />
	</security:http>

	<bean id="sas"
		class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<property name="maximumSessions" value="1" />
		<constructor-arg name="sessionRegistry" ref="sessionRegistry" />
	</bean>

	<bean id="sessionRegistry"
		class="org.springframework.security.core.session.SessionRegistryImpl" />

	<security:authentication-manager>
		<security:authentication-provider
			ref="daoAuthenticationProvider" />

	</security:authentication-manager>
	
	<bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

	<bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService" />
		<property name="passwordEncoder" ref="passwordEncoder" />
	</bean>
</beans>